@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Amiri";
    src: url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap");
  }

  html {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .gradient-underline {
    line-height: 0.6em;
    vertical-align: 0em;
    border-bottom: 0.27em solid transparent;
    -moz-border-image: -moz-linear-gradient(
      left,
      theme("colors.pacamara-secondary") 0%,
      theme("colors.pacamara-accent") 100%
    );
    -webkit-border-image: -webkit-linear-gradient(
      left,
      theme("colors.pacamara-secondary") 0%,
      theme("colors.pacamara-accent") 100%
    );
    border-image: linear-gradient(
      to right,
      theme("colors.pacamara-secondary") 0%,
      theme("colors.pacamara-accent") 100%
    );
    border-image-slice: 1;

    @apply transition-all duration-300;
  }

  .gradient-underline span {
    vertical-align: -0.38em;
  }

  .font-arabic {
    font-family: "Amiri", serif;
    direction: rtl;
  }
}
