@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Amiri";
    src: url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap");
  }

  html {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .font-arabic {
    font-family: "Amiri", serif;
    direction: rtl;
  }
}
